@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    background-color: #fffaf5;
    color: #333333
}

header{
    background-color: orange;
    padding:20px;
    text-align: center;
}
.nav-links{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}