/*Desktop view*/
html{
    font-size: 100%
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: lightblue;
    height: 30vh;
    width: 100%;
}
div{
    background-color: gray;
    width: 95%;
    height: 40vh;
    margin: 60px 0;
}
p{
    width: 80%;
    font-size: 1rem;
}

/*tablet view*/
@media(min-width:601px) and (max-width:768px){
    html{
        font-size: 14px;
    }
    header{
        background-color: red;
    }
    div{
        width:80%;
    }
}

/*phone-view*/
@media(max-width:600px){
    html{
        font-size: 12px;
    }
    header{
        background-color: blue;
    }
    div{
        width: 100%;
        margin:0 0 60px 0;
    }
}